body {
    background-color: #454546;
    font-family: 'Ubuntu', sans-serif;
    height: 100px;
}

.main {
    background-color: #000000;
    width: 400px;
    height: 1000px;
    margin: 1em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 40px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}
.container{
   border-radius: 2%;
   margin: 5px;
   display: flex;
}




form.form1 {
    padding-top: 40px;
}

@media (max-width: 1350px) {
    .main {
        border-radius: 0px;
    }
    
    
